/*Custom stylesheet*/

nav {
  color: #fff;
  background-color: #cddc39;
}

#pacifico {
  font-family: 'Pacifico', cursive;
}

.title {
  font-style: normal;
}

.subtitle {
  font-size: 20px;
}

#sidenav-overlay {
  z-index: 996;
}

#map{
  min-height: 380px;
}

body > div.fixed-action-btn.toolbar.active > ul > li > i{
  line-height: 2;
  font-size: 20px;
}

#form_button, #form_clear_button{
  margin: 5px;
}

.italics{
  font-style: italic;
}

@font-face {
    font-family: meera;
    src: url('../fonts/meera.ttf');
}

.meera {
    font-family: meera;
    font-size: 18px;
}

.inline_flex{
  display: inline-flex;
}

.name{
  font-size: 24px;
}
.email{
  font-size: 18px;
  font-weight: 100;
}
#side-nav-propic{
  margin-top: 10px;
  margin-bottom: -10px;
}

.margined{
  margin-bottom: -15px;
}
